.discourse-sidebar .d-toc-regular .d-toc-article .row {
  width: 75%;
  @media screen and (max-width: calc($large-width + 100px)) {
    width: calc(100vw - 240px - 3em);
  }
}

@media screen and (max-width: calc($large-width + 100px)) {
  .discourse-sidebar {
    .d-toc-regular {
      .post-bottom-wrapper {
        padding: 1em 0.75em;
        &.desktop {
          display: none;
        }
      }
      #d-toc {
        z-index: z("header") + 1;
        background: var(--secondary);
        position: fixed;
        right: 0;
        top: 0;

        height: 100vh;
        width: 100vw;
        max-width: 500px;
        overflow: scroll;
        transition: transform 0.5s, opacity 0.25s;
        transform: translatex(100%);
        opacity: 0;
        :not(.rtl) & {
          margin-left: -1px;
        }
        .rtl & {
          margin-right: -1px;
        }
        &.d-toc-mobile {
          transform: translatex(0);
          opacity: 1;
        }
        .d-toc-active {
          &:before {
            :not(.rtl) & {
              margin-left: -1px;
            }
            .rtl & {
              margin-right: -1px;
            }
          }
        }
      }
      .d-toc-close-wrapper {
        height: 3em;
        background: var(--secondary);
        color: var(--primary-med-or-secondary-med);
        margin-bottom: 1em;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .d-toc-close {
          padding: 1em 0.75em;
        }
      }
      .d-toc-toggle {
        position: fixed;
        bottom: 5px;

        padding: 0.5em 1em;
        background: var(--tertiary);
        color: var(--secondary);
        z-index: 3;
        margin-bottom: env(safe-area-inset-bottom);
        :not(.rtl) & {
          right: 16px;
        }
        .rtl & {
          left: 16px;
        }
        body.footer-nav-visible & {
          bottom: 49px;
        }
      }
      #d-toc > ul {
        :not(.rtl) & {
          margin-left: 20px;
          border-left: 1px solid var(--primary-low);
        }
        .rtl & {
          margin-right: 20px;
          border-right: 1px solid var(--primary-low);
        }
        &:last-child {
          margin-bottom: 5em;
        }
      }
    }
  }
}

.mobile-view .discourse-sidebar .d-toc-regular .d-toc-article .row {
  width: 100%;
}
